{
  "root": true,
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react",
    "prettier/standard",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react",
    "prettier",
    "jest",
    "import",
    "react-hooks",
    "redux-saga"
  ],
  "rules": {
    "prefer-const": "warn",
    "no-console": "off",
    "no-loop-func": "warn",
    "new-cap": "off",
    "no-param-reassign": "off",
    "func-names": "off",
    "block-scoped-var": "error",
    "react/prop-types": "off",
    "prettier/prettier": "error",
    "no-redeclare": "error",
    "no-undef": "error",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "error",
      {
        "enableDangerousAutofixThisMayCauseInfiniteLoops": true
      }
    ],
    "redux-saga/yield-effects": "error",
    "redux-saga/no-yield-in-race": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.9"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": [
          "packages/*/tsconfig.json",
          "packages/*/jsconfig.json"
        ]
      }
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true,
    "browser": true
  }
}
