{
  "root": true,
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [ "react", "prettier", "jest" ],
  "rules": {
    "prefer-const": "warn",
    "no-console": "off",
    "no-loop-func": "warn",
    "new-cap": "off",
    "no-param-reassign": "warn",
    "func-names": "off",
    "block-scoped-var": "error",
    "react/prop-types": "off",
    "prettier/prettier": "error",
    "no-redeclare": "error",
    "no-undef": "error",
    "no-unused-vars": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.9"
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  }
}
