{
  "root": true,
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react",
    "prettier",
    "jest",
    "import",
    "react-hooks",
    "redux-saga",
    "@typescript-eslint"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.js",
        "*.jsx"
      ],
      "rules": {
        "prefer-const": "warn",
        "no-console": "off",
        "no-loop-func": "warn",
        "new-cap": "off",
        "no-param-reassign": "off",
        "func-names": "off",
        "block-scoped-var": "error",
        "react/prop-types": "off",
        "prettier/prettier": "error",
        "no-redeclare": "error",
        "no-undef": "error",
        "no-unused-vars": [
          "error",
          {
            "ignoreRestSiblings": true
          }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": [
          "error",
          {
            "enableDangerousAutofixThisMayCauseInfiniteLoops": true
          }
        ],
        "redux-saga/yield-effects": "error",
        "redux-saga/no-yield-in-race": "error"
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",    
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    },
    {
      "files": [
        "*.js",
        "*.jsx"
      ],
      "extends": [],
      "rules": {}
    }
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.9"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": [
          "packages/*/tsconfig.json",
          "packages/*/jsconfig.json"
        ]
      }
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true,
    "browser": true
  }
}
