html {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

body {
  display: flex;
  flex: 1;

  cursor: default;
  background-color: #001825;
  color: #d6d6d6;
  font-family: 'Inconsolata', monospace;
  margin: 0;

  user-select: none;
  overflow: hidden;
}

div {
  display: flex;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
}