html {
  font-family: 'Inconsolata';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
pre {
  font-family: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}
